$color-main: #ffc436;
$color-second: #383838;
$color-background: #f0f0f0;
$color-default: #fff;
$color-info: #64ccc5;

body {
  margin: 0;
  padding: 0;
  background: $color-background;
}

h5 {
  margin: 0;
  font-size: 1rem;
  color: $color-main;
}

h4 {
  margin: 10px 0px;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.card {
  padding: 20px;
  background-color: $color-background;
}

.filters {
  position: relative;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.filter-contain {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: $color-background;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-second;
  div {
    margin-right: 30px;
  }
  .filter-select {
    color: $color-main;
    margin-left: 11px;
  }
  .filter-score {
    color: $color-default;
    display: flex;
    background-color: $color-main;
    margin: 11px;
    width: 70px;
    height: 43px;
    align-items: center;
    justify-content: space-around;
  }
}

.filter-ranking {
  display: flex;
  margin-top: 2%;
  input {
    width: 625px;
  }
}

@media (max-width: 534px) {
  .filters {
    position: static;
  }
}

@media (max-width: 768px) {
  .filter-contain {
    .filter-statik {
      display: none;
    }
  }
  .filter-ranking {
    input {
      width: 80%;
    }
  }
}

.movie-card-container {
  display: flex;
  flex: 0 0 calc(25.33% - 20px);
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: center;
}

.movie-card {
  background-color: $color-default;
  position: relative;
  border-radius: 5px;
  margin: 0px 10px 0px 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 383px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.movie-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.movie-card__img {
  max-width: 100%;
  height: auto;
}
.movie-card__body {
  padding: 10px;
  position: relative;
}
.movie-card__title {
  font-size: 1.2rem;
  margin: 5px 0px;
}

.movie-card__title__label {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin: 0;
  width: 0;
  height: 0;
  border-right: 30px solid $color-main;
  border-top: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 30px solid $color-main;
}

.label-icon {
  position: relative;
  right: -2px;
  top: -6px;
  font-size: 2rem;
  color: $color-default;
}

@media (max-width: 990px) {
  .movie-card {
    flex-basis: calc(50% - 20px);
  }
  .movie-card-container {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (max-width: 576px) {
  .movie-card {
    flex-basis: calc(100% - 20px);
  }
}

.modal {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  position: relative;
  top: 20%;
  width: 50%;
  left: 20%;
  background-color: $color-default;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.modal-content__data {
  display: flex;
  align-items: stretch;
  background-color: $color-background;
}

.modal-content__left {
  width: auto;
  height: 554px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .movie-card__img2 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: none;
  }
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-content__right {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
}

.full-movie {
  margin-top: 15%;
  color: $color-info;
}

.right-info__movie {
  display: flex;
  justify-content: space-around;
  padding: 3%;
  border-bottom: 2px solid $color-background;
}

.content-right__info {
  text-align: left;
  padding-left: 3%;
  padding-top: 2%;
  margin-top: 3%;
  background-color: $color-default;
  position: relative;
  right: 12%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), 0px -5px 10px rgba(0, 0, 0, 0.2);
  b {
    color: $color-info;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    p {
      margin: 0 5px;
      border-radius: 23px;
      background-color: $color-background;
      padding: 10px;
    }
  }
}
.content-right__top {
  padding: 5%;
}
.right-info__details {
  display: flex;
  justify-content: space-around;
  margin: 3%;
  font-size: 16px;
}

.detail {
  display: flex;
  flex-direction: column;
}

.btns {
  display: flex;
  justify-content: space-between;
  div {
    flex: 1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
  }
  .btnl {
    background-color: $color-main;
    color: $color-default;
  }
  .btnr {
    background-color: $color-second;
  }
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .modal-content__data {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .modal-content {
    top: 1%;
    left: 17%;
    width: 70%;
  }

  .modal-content__right {
    width: 100%;
    text-align: center;
  }
  .content-right__top {
    padding: 0 5%;
  }
  .content-right__info {
    padding-top: 1%;
    right: 0;
    bottom: 59px;
  }

  .full-movie {
    margin: 5% 0;
  }
  .modal-content__left {
    height: 400px;
    img {
      display: none;
      visibility: hidden;
    }
    .movie-card__img2 {
      display: block;
      visibility: visible;
    }
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    left: 5%;
  }
  .modal-content__left {
    height: 242px;
  }
}

// footer

.footer {
  width: 96%;
  background-color: $color-default;
  color: $color-second;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 1% 2% 0;
  border-bottom: 2px solid $color-background;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  img {
    max-width: 150px;
  }
}

.footer-links {
  ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
}

.footer-info {
  display: flex;
  align-items: center;
}

.footer-links {
  li {
    margin: 0px 10px 10px;
  }
}

.footer-links {
  margin-left: 157px;
}

.under-footer {
  text-align: center;
  padding: 10px 0;
  background-color: $color-default;
  color: $color-main;
}

@media (max-width: 768px) {
  .footer {
    justify-content: center;
  }
  .footer-logo {
    img {
      display: none;
    }
  }
  .footer-links {
    margin: 0;
  }
  .footer-info {
    display: none;
  }
}

// header
.header-navbar__responsive {
  display: none;
}
.img-header {
  height: 660px;
  background-repeat: no-repeat;
  background-size: cover;
  //background-position: center;
}

.header-navbar {
  display: flex;
  color: $color-default;
  justify-content: space-between;
  padding: 1% 4%;
}

.header-navbar__logo {
  background-color: $color-main;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-data__list {
  list-style-type: none;
  display: flex;
  li {
    padding: 0 10px;
  }
}

.data-select {
  color: $color-main;
}

.header-navbar__img {
  img {
    height: 50px;
    border-radius: 50%;
  }
}

.header-title {
  color: $color-default;
  display: flex;
  flex-wrap: wrap;
  margin-left: 13%;
  margin-right: 150px;
  flex-direction: column;
  margin-top: 6%;
  h1 {
    margin: 0;
  }
}

.header-genre {
  margin-bottom: 4%;
  display: flex;
  div {
    padding: 0 10px;
  }
}
.header-btn {
  display: flex;
  background-color: $color-main;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background-color 0.3s ease;
  display: inline;
  border-radius: 25px;
  padding: 12px;
}
.header-info {
  margin-top: 7%;
  h2 {
    margin: 0;
    color: $color-main;
  }
}

@media (max-width: 1024px) {
  .header-title {
    margin-top: 12%;
  }
}

@media (max-width: 768px) {
  .header-navbar__logo {
    display: none;
  }
  .header-navbar__img {
    display: none;
  }
  .header-navbar {
    justify-content: space-around;
  }
  .header-title {
    display: none;
  }
  .img-header {
    display: none;
  }
  .header-navbar__responsive {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background: $color-second;
  }
  .responsive-img {
    img {
      height: 50px;
      border-radius: 50%;
    }
  }
}

.more-loading {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  button {
    padding: 13px;
    border-radius: 100%;
    background-color: $color-main;
    font-size: 7px;
    color: black;
    display: flex;
    border: none;
  }
}
